@import url("styles/cadrastro/header.css");
@import url("styles/cadrastro/banner.css");
@import url("styles/cadrastro/cadastro.css");
@import url("styles/cadrastro/reset.css");
@import url("styles/cadrastro/rodape.css");
@import url("styles/cadrastro/formulario.css");


:root {
    --cor-de-fundo: #EBECEE;
    --cor-menu: #FFFFFF;
    --cor-titulo-menu: #EB9B00;
    --cor-degrade-menu: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: "Poppins", sans-serif;
    --font-secundaria: "Josefin Sans";
    --cor-preta: #000000;
    --azul: #002F52;
    --cinza: #474646;
    --cinza-claro: #858585;
    --vermelho: #D94937;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 1rem;
}

.body-cadastro {
    background-color: var(--cor-menu);
    font-family: var(--font-principal);
    font-size: 1rem;
}
