.principal__carrossel__titulo {
    color: var(--cor-titulo-menu);
    background-color: var(--cor-menu);
    text-align: center;
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 700;
    padding: 1.2rem 0 0.7rem 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev {
    display: none;
}

.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem;
}